$primaty-color: #ffc87a;
$secondary-color: #1a2b5f;
$category-item :#fffefe;
html {
  font-size: 62.5%;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  font-family: "Popins", sans-serif;
  color: $secondary-color;
  line-height: 1.4;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}
@mixin flex($justify: flex-start, $alignItem: center, $wrap: nowrap, $direction: row) {
  display: flex;
  justify-content: $justify;
  align-items: $alignItem;
  flex-wrap: $wrap;
  flex-direction: $direction;
}
.wrapper {
  max-width: 1440px;
  margin: 0 auto; // cho ra giua khi man hinh > 1440
}
.container {
  max-width: 1210px;
  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 2rem;
}
.header {
  padding-top: 4rem;
  &__inner {
    @include flex(space-between, center, nowrap);
    
  }
  &__logo {
    font-size: 2.5rem;
    font-weight: 600;
    cursor: pointer;
    color: $secondary-color;
    &--primary {
      color: $primaty-color;
    }
  }
  &__menuList {
    @include flex();
  }
  &__menuItem {
    margin-left: 5rem;
    color: $secondary-color;
    &:last-child {
      margin-left: 7rem;
    }
  }
  &__menuLink {
    font-size: 1.6rem;
    color: $secondary-color;
    font-weight: 400;
    transition: color 0.25s linear;
    &:hover {
      color: $primaty-color;
    }
  }
  &__login {
    display: inline-block;
    padding: 1rem 3rem;
    border-radius: 2rem;
    border: 1px solid;
  }
}
.banner {
  margin: 0 auto;
  padding-top: 10rem;
  max-width: 80rem;
  text-align: center;
  &__heading {
    font-weight: 800;
    font-size: 6rem;
    margin-bottom: 3rem;
  }
  &__description {
    font-weight: 300;
    font-size: 1.6rem;
    margin-bottom: 4.5rem;
  }
  &__buttons {
      display: flex;
      justify-content: center;;
      & .btn{
          margin: 0 1rem;
      }
  }
}
.btn {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  outline: none;
  font-size: 1.6rem;
  color: $secondary-color;
  padding: 1.5rem 4rem;
  &--primary {
    background-color: $primaty-color;
  }
  &--rounded {
    border-radius: 2rem;
  }
  &--border {
    border: 1px solid;
  }
  &--shadow{
      box-shadow: 0 30px 91px #ffc87a;
  }
}
.category{
  margin-top: 18rem;
  &__list{
    @include flex(space-between)
  }
  &__item{
    width: calc(25% - 22.5px);
    padding: 0 3rem 3.5rem;
    border-radius: 3rem;
    box-shadow: 0 10px 50px #fff4f6

  }
  &__img{
    height: 23rem;
    object-fit: cover;
    border-radius: 3rem;
  }
  &__description{
    margin-top: 4rem;
    margin-bottom: 2rem;
    padding: 0 1rem;
    font-size: 1.6rem;
    font-weight: 600;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    //line-clamp: 3;
  }
  &__detail {
    font-size: 1.5rem;
    padding: 0 1rem;
    color: $secondary-color;
    transition: color 0.25s linear;
    & i{
      margin-left: 1rem;
    }
    &:hover {
      color: $primaty-color;
    }
  }
  
}
